aMenu {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #692E42;
  border-style: double;
  border-color: #B59769;
  border-radius: 11px 11px 11px 11px;
  padding: 8px 8px 8px 8px;
}