
/*ESTILOS PARA BARRA DE PROGRESO LOADING*/

.barra{
	background-color: #f3f3f3;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .2);
	height: 25px;
}

.cancel{
	background: #ed1f3c !important;
}

.barra_azul{
	background-color: #247CC0;
	border-radius: 19px;
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	width: 0%;
}

.barra_verde{
	background-color: #2EA265 !important;
}

.barra_roja{
	background-color: #FF0000 !important;
}

.form_subir{
	margin: 1.5% 0;
	padding: 2%;
}

#barra_estado span{
	color: #fff;
	font-weight: bold;
	line-height: 25px;
}